$white:  #FFFFFF;

$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #8BC34A;
$secondary-accent-color: #912B88;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
$error-color: #F47738;
$success-color: #00823B;
$null-color: #EBEBEB;
$equal-color: #FFE8A2;
$worse-color: #FFDDDD;
$better-color: #DDFFDD;
